@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;700;800&display=swap');

/*  ============ GLOBAL SECTION ============= */
:root {
    --color-primary: #FF5400;
    --color-heading: #131318;
    --color-text: #5A5A5D;
    --color-white: rgba(255, 255, 255, .8)
}

*,
*::before,
*::after {
    margin: 0;
    padding: o;
    box-sizing: border-box;
}

html {
    font-family: 'Mulish', sans-serif;
    font-size: 62.5%;
}

.heading-1 {
    font-size: 6.4rem;
    font-weight: 800;
    color: var(--color-white);
    margin-bottom: 2.4rem;
}

.heading-2 {
    font-size: 4.8rem;
    font-weight: 800;
    color: var(--color-heading);
    margin-bottom: 2rem;
}

.heading-3 {
    font-size: 2.4rem;
    font-weight: 700;
    color: var(--color-heading);
    margin: 1.8rem 0;
}

.heading-4 {
    font-size: 2rem;
    font-weight: 800;
    color: var(--color-primary);
    margin-bottom: 2rem;
}

.text {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--color-text);
    margin-bottom: 1rem;
}

.list {
    font-size: 1.6rem;
    padding: 0;
    list-style-position: inside;
    margin: 1.5rem 0;
}

.btn {
    padding: 1rem 2rem;
    border-radius: 8px;
    font-size: 1.6rem;
    background-color: var(--color-primary);
    color: var(--color-white);
    border: none;
    flex-shrink: 0;
}

.btn-top-margin {
    margin-top: 2.5rem;
}

/*  ================= HEADER SECTION ============== */
.header {
    width: 85%;
    max-width: 120rem;
    margin: 0 auto;
    padding: 5rem 0;
    display: flex;
    align-items: center;
}

.header .logo-box {
    width: 50%;
    justify-content: start;
}

.nav {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.nav-link {
    text-decoration: none;
    font-size: 1.6rem;
    color: #424242;
}

.nav-link:first-child {
    color: var(--color-primary);
}

/* ================ BANNER SECTION ================== */
.banner {
    width: 80%;
    max-width: 117rem;
    margin: 5rem auto;
    padding: 10rem;
    text-align: center;
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    background-size: cover;
    border-radius: 16px;
}

.banner .text {
    color: var(--color-white);
    margin-bottom: 4.8rem;
}

.form-banner {
    width: 100%;
    padding: 1.5rem;
    margin: 0 auto;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, .3);
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
}

.input,
.select {
    padding: 1.5rem 2rem;
    width: 25%;
    border-radius: 5px;
    border: none;
}

.input::placeholder,
.select option {
    color: var(--color-text);
    font-size: 1.4rem;
}

.input:focus,
.select:focus {
    outline: none;
}

.search {
    margin-right: .5rem;
}



/*  ============================= POPULAR TOUR =================== */
.popular-tour {
    width: 80%;
    max-width: 117rem;
    margin: 5rem auto;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.popular-text-container {
    flex: 1;
}

.popular-img-container {
    flex: 1;
}

.popular-img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/*  ============================= DESTINATION TOUR =================== */
.destination {
    width: 80%;
    max-width: 117rem;
    margin: 5rem auto;
}

/*
.destination-text-container {
    width: 50%;
    margin: 0 auto;
}

.destination-gallary {
    max-width: 117rem;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.destination-img-1 {
    grid-column: 1/span 6;
    width: 100%;
    height: 100%;
}

.destination-img-2 {
    grid-column: 1/span 6;
    width: 100%;
    height: 100%;
} */


/*  ====================== CHOOSE SECTION ================ */
.choose {
    width: 80%;
    max-width: 117rem;
    margin: 5rem auto;
}

.choose-text-container {
    width: 50%;
    margin: 0 auto;
    text-align: center;

}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.4rem;
    flex-wrap: wrap;
    margin-top: 5rem;
}

.card {
    width: calc((100% - 3rem)/2);
    padding: 4rem 3rem;
    border-radius: 5px;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .15);
}

.card-1 {
    background-color: rgb(243, 240, 236);
}

.card-2 {
    background-color: azure
}

.card-3 {
    background-color: rgb(195, 216, 223)
}

.card>figure {
    width: 5rem;
    height: 5rem;
    margin-bottom: 2rem;
}

/*  =============== DEALS SECTION ==================== */
.deals {
    width: 80%;
    max-width: 117rem;
    margin: 5rem auto;
    text-align: center;
}

.deals-text-container {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.deals-offer-container {
    width: 100%;
    padding: 5rem;
    border-radius: 5px;
    margin: 2rem 0;
    background-image: url(../Images/Group\ 39.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: end;
}

.offer-box {
    width: 50%;
    background-color: rgba(255, 255, 255, .7);
    padding: 3rem;
    border-radius: 5px;
}

.offer-box-2 {
    transform: rotateY(-180deg);
}

/* .container-1,
.container-3 {
    display: flex;
    justify-content: end;
} */

.container-2 {
    transform: rotateY(180deg);
}

.offer-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.item {
    font-size: 1.6rem;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 2rem;
}

.icon {
    width: 2rem;
    height: 2rem;
    margin-right: .8rem;
}


/* ========================= PERFECT SECTION ======================== */
.perfect {
    width: 80%;
    max-width: 117rem;
    margin: 5rem auto;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.perfect-text-container {
    flex: 1;
}

.ferfect-video-container {
    width: 50%;
    height: 40vw;
    border-radius: 10px;
}

/* ===================== NEWSLETTER SECTION ======================== */

.newsletter {
    width: 80%;
    max-width: 117rem;
    margin: 5rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.form-container {
    width: 40%;
    padding: 3rem;
    border: 1px dotted orangered;
    background-color: #FFF8F3;
    border-radius: 5px;
}

.form {
    margin-top: 3rem;
    font-family: inherit;
    line-height: inherit;
    letter-spacing: inherit;
}

.form-figure {
    margin-bottom: 2rem;
}

.input {
    display: block;
    width: 100%;
    background-color: rgba(19, 19, 24, 0.05);
}

.newsletter-label {
    display: block;
    font-size: 1.5rem;
    color: var(--color-text);
    transform: translate(2rem, 0);
    transition: all .3s;
}

.input:placeholder-shown+.newsletter-label {
    transform: translate(2rem, -3.2rem);
    display: hidden;
    opacity: 0;
}


.newsletter-img-containner {
    width: 60%;
}

.newsletter-img {
    width: 100%;
    height: auto;
}

.btn-full {
    width: 100%;
    margin-top: 4rem;
}





/* ================ FOOTER SECTION ================== */

.footer {
    max-width: 144rem;
    margin: 0 auto;
    padding: 8rem 3rem;
    background-color: rgba(19, 19, 24, 0.05);
    text-align: center;
}

.footer-content {
    padding: 3rem;
    max-width: 87rem;
    margin: 0 auto;
    border-bottom: 1px solid rgba(0, 0, 0, .3)
}

.logo-box {
    display: flex;
    justify-content: center;
    margin-bottom: 1.6rem;
}

.logo-img {
    width: 4rem;
    height: auto;
    margin-right: 1.5rem;
}

.logo-heading {
    font-size: 3.2rem;
    font-weight: 800;
}

.footer-logo-container {
    margin-top: 2rem;
}

.logo-icon {
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
}

/* hr {
    border: none;
    height: .1rem;
    background-color: rgba(0, 0, 0, .1);
} */

.footer-copyright {
    margin: 2rem 0;
}

.copy-text {
    font-size: 1.4rem;
    font-weight: 300;
    color: var(--color-text);
    text-transform: capitalize;
}


/* ====================== RESPONSIVE STYLES ================== */

/* ================== TABLET OR MEDIUM SCREEN ==============  */
@media screen and (max-width: 992px) {
    html {
        font-size: 56.25%;
    }

    .header {
        flex-direction: column;
        width: 100%;
        padding: 2rem;
    }

    .heading-2 {
        font-size: 3.5rem;
    }

    .header .logo-box {
        width: 100%;
    }

    .nav {
        width: 90%;
    }

    .banner {
        width: 95%;
        padding: 5rem;
    }

    .popular-tour {
        width: 95%;
    }

    .banner .form-banner {
        flex-wrap: wrap;
        justify-content: center;
    }

    .input {
        width: 30%;
        margin-bottom: 2rem;
    }

    .choose {
        width: 95%;
    }

    .deals {
        width: 95%;
    }

    .deals-offer-container {
        padding: 10rem 2rem 2rem;
    }

    .offer-box {
        width: 70%;
    }

    .perfect {
        width: 95%;
    }

    .newsletter {
        width: 95%;
    }

    .form-container {
        width: 50%;
    }

    .newsletter .input {
        width: 100%;
    }



}

/*  ================= MOBILE OR SMALL SCREEN ================= */
@media screen and (max-width: 600px) {
    html {
        font-size: 50%;
    }

    .header {
        width: 100%;
        padding: 2rem;
    }

    .header .logo-box {
        width: 100%;
    }

    .nav {
        display: none;
    }

    .banner .form-banner {
        flex-direction: column;
        gap: 2rem;
    }

    .banner .form-banner>* {
        width: 100%;
    }

    .popular-tour {
        flex-direction: column;
    }

    .footer {
        padding: 5rem 2rem;
    }

    .card {
        width: 90%;
    }

    .deals-offer-container {
        padding-top: 15rem;
    }

    .offer-box {
        width: 100%;
    }

    .perfect {
        flex-direction: column;
    }

    .perfect>* {
        width: 100%;
    }

    .ferfect-video-container {
        height: 60vw;
    }

    .newsletter {
        flex-direction: column;
    }

    .form-container {
        width: 100%;
    }

    .newsletter-img-containner {
        width: 100%;
    }
}